<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jordan and Emily Skomer</title>
  <link href="stylesheets/style.css" rel="stylesheet">

</head>
<body>
  <header>
    <div class="header-link">
      <a data-link="our-story">Our Story</a>
      <div class="underline" id="our-story-underline"><object type="image/svg+xml" data="assets/underline.svg"></object></div>
    </div>
    <div class="header-link">
      <a data-link="rsvp">RSVP</a>
      <div class="underline" id="rsvp-underline"><object type="image/svg+xml" data="assets/underline.svg"></object></div>
    </div>
    <div class="header-link">
      <a data-link="details">Details</a>
      <div class="underline" id="details-underline"><object type="image/svg+xml" data="assets/underline.svg"></object></div>
    </div>
    <div class="header-link">
      <a data-link="registry">Registry</a>
      <div class="underline" id="registry-underline"><object type="image/svg+xml" data="assets/underline.svg"></object></div>
    </div>
    <div class="header-link">
      <a data-link="gallery">Gallery</a>
      <div class="underline" id="gallery-underline"><object type="image/svg+xml" data="assets/underline.svg"></object></div>
    </div>
  </header>

  <div class="clear-header">

    <div id="main">
      <img src="assets/bg.jpg"></img>
      <img class="js-text" alt="Emily and Jordan" data-src="assets/text.svg"></object>
    </div>

    <div id="our-story" value="0" class="js-trigger-underline">
      <h4 class="header-title">Our Story</h4>
      <p>
      The day Jordan walked into my life for the first time was casual, unexpected, and quite ordinary. It’s funny how you can go through life and not realize the very thing you’ve been waiting on, praying for, and wanting your entire life is just behind the next door you’re about to open. This was who God had been preparing for me but in our first interaction, I wouldn’t have guessed it was him because it didn’t play out how I had always imagined. There was no lightning strike, no spark, no aha-moment; it didn’t unfold in slow motion with some sappy music playing in the background like all of the movies and romance novels had promised. It was a simple, “hello.” We exchanged smiles and I learned his name, unaware that his name would be on my lips for the rest of my life. But let’s rewind a bit first.<br><br>Two years before I opened that door to the greatest blessing of my life, I decided to give the Lord the pen so He could write my love story, along with my broken heart which needed much mending. I couldn’t do it on my own anymore so I set out on a quest to heal, and to remain single until God brought the man He had for me into my life. It’s as if I waited in the hallway of patience, knocking on many doors but always getting told “no” because He needed to prepare my heart for this gift and I wasn’t ready to open it, but God’s timing is never late. I held onto many promises that were prophesied over me about who this man would be.<br><br>Fast forward two years later, a couple months before I met this man, I found myself at a bible study small group, which was normally way out of my comfort zone but I had felt like God brought me here for a reason, so I continued going there and growing in the Lord. The Lord whispered two words into my heart one night as I prayed for my future husband; “within days.” I didn’t know what it meant… but a few weeks later, without my knowledge, I opened the door and there he was right in front of me. We developed a friendship, one that felt like it had always been, until we started dating nearly a year later after we met that night at bible study. I am so thankful for the friendship we had built together that year.<br><br><span class="seperator"></span><br><br>I rushed out the door in the same white dress I wore the day we had one of our very first “unofficial dates.” I knew he liked it. It was our 3 month anniversary and he was taking me to a super fancy restaurant, one we hadn’t been to before and the kind that has lots of extra silverware you never end up using. As we ate, I realized I did most of the talking which wasn’t uncommon but it was unusual how little he did talk. I assumed he was probably just tired from work; understandable.<br><br>After dinner, he told me that he wanted to go star gazing, something we often did together, however it had rained that day and it was gross outside. At first I looked at him with confusion and disgust and declined, thinking it wouldn’t be good for my hair.<br>
      <br>“No, really, I think we should! And if you don’t want to anymore after we get there, we can leave.” He suggested.<br>
      <br>I shrugged. “Well, okay. I guess so.”<br><br>He told me to close my eyes, so I did, smiling so hard. If you don’t know Jordan’s romantic side, he loves surprises and his dates were always incredibly thoughtful and romantic. The car stopped, he jumped out, came around to my side and pulled me out. Eyes still closed, I followed his instructions as I felt myself walking through cold, wet grass in my heels; not the most pleasant of sensations.<br>
      <br>“Almost there.” He assured me.<br>
      <br>"I sure hope so. I was thinking to myself.<br><br>
      “Open!” I opened my eyes to see a path of lights leading to our picnic blanket, with white flower petals shaped into a heart all around it. It was the same field we shared our very first kiss. I honestly did not suspect anything out of the ordinary because this is just something he would do!<br>
      I gasped and placed my hands over my mouth in awe.<br><br>“Oh my gosh, Jordan! This is beautiful!” I took out my phone. “I have to take a picture.”<br><br>Now, let’s pause for a moment. I did not know this but as I was taking out my phone, I didn’t realize his two friends hiding in the bushes taking pictures and recording us!<br>
      <br>“No, no you can take pictures later.” He suggested nervously.<br>
      <br>“No! Are you kidding? I have to take it now. This is great!”<br><br>
      I turn on my flash. I snap photos just as his friend starts darting across the field, trying to remain unseen and thankfully my oblivious self, did not see the running silhouette. We walk down the path of lights and seeing the rose petals I asked, “Oh my gosh, are those flowers or rocks?” I don’t know why they’d be rocks but I thought I’d just throw that little question of the day by Emily in here.<br><br>
      Jordan embraced me and spoke sweet words in my ear, telling me how crazy the past few months had been for us, how much he loves me, and how he can’t imagine life without me. I still had no idea where this was going until he looked at me, got on one knee, and asked me, <br><br>“Will you marry me?”<br><br> A home-made sign made of lights that echoed that question flashed behind him and lit up the field around us. I dropped my phone, of course said YES! a million times, and hugged him as tight as I could. I couldn’t believe that this intentional, intelligent, hilarious, witty, sweet, Godly man had asked me to be his wife. I can tell you, this has been the greatest adventure of my life and I wouldn’t want to spend it with anyone else by my side. We are best friends for life! Every promise the Lord had given to me has come true in this man. He is proof to me that God gives us the desires of our hearts and that He will give far past what we even ask or imagine for ourselves.
      </p>
      <div class="view-more">View More</div>
    </div>

    <div id="rsvp" value="1" class="js-trigger-underline">
      <h4 class="header-title">Rsvp</h4>
      <div class="form-submit-text"></div>
      <form class="container form">
        <div class="form-content active">
          <label for="name">Your Name</label>
          <input class="form-input" type="text" name="name">
          <div class="js-next controls">next</div>
          <div class="js-prev controls">prev</div>
        </div>
        <div class="form-content">
          <label class="active" for="email_address active">Email Address</label>
          <input class="form-input" type="text" name="email_address">
          <div class="js-next controls">next</div>
          <div class="js-prev controls">prev</div>
        </div>
        <div class="form-content">
          <label class="active" for="going">Will you make it?</label>
          <button class="button" id="going-yes">Delighted to attend</button>
          <button class="button" id="going-no">Sorry, can't make it</button>
        </div>
        <div class="form-content">
          <label class="active" for="attending">How many will be joining you?</label>
          <button class="button js-attending" data-value="0">0</button>
          <button class="button js-attending" data-value="1">1</button>
          <button class="button js-attending" data-value="2">2</button>
        </div>
        <input type="hidden" name="going" id="js-going">
        <input type="hidden" name="attending" id="js-attending">
      </form>
    </div>

    <div id="details" value="2" class="js-trigger-underline">
      <div class="wedding-details">
        <h4 class="header-title">Wedding Details</h4>
        <div class="details">
          <div class="column">
            <div class="name">Thistle Hill</div>
            <div class="phone"><a href="tel:8173361212">817.336.1212</a></div>
            <div class="directions"><a class="address" href="https://www.google.com/maps/place/Thistle+Hill/@32.737927,-97.3446186,17z/data=!3m1!4b1!4m5!3m4!1s0x864e717af2714c99:0xcba1c5417ebc9283!8m2!3d32.737927!4d-97.3424299" target="_blank">1509 Pennsylvania Ave, Fort Worth, TX 76104</a></div>
          </div>
          <div class="column">
            <div class="info">The wedding will be held at Thistle Hill at 6:00 PM on April Twenty Second, Two Thousand and Seventeen.</div>
          </div>
        </div>
      </div>
      <div class="hotel-details">
        <h4 class="header-title">Hotel Details</h4>
        <div class="details">
          <div class="column">
            If you are traveling from out of town and want a good place to stay, we have obtained a group discount at the Hampton Inn. All you have to do is ,ention that you will be attending the Skomer wedding on April 22nd on the right to be booked alongside the rest of our guests and receive our group discount of 10%.
          </div>
          <div class="column">
            <div class="hotel-name">Hampton Inn</div>
            <div class="hotel-phone"><a href="tel:">817.318.5000</a></div>
            <div class="hotel-directions"><a class="address" href="https://www.google.com/maps/place/Hampton+Inn+%26+Suites+by+Hilton+Colleyville+DFW+West/@32.9040329,-97.2269765,11z/data=!4m8!1m2!2m1!1shampton+inn!3m4!1s0x0:0xab4b5e2b67ee27d6!8m2!3d32.8869032!4d-97.1003437">5300 State Hwy 121, Colleyville, TX 76034</a></div>
          </div>
        </div>
      </div>
    </div>

    <div id="registry" value="3" class="js-trigger-underline">
      <h4 class="header-title">Registry</h4>
      <div>
        <a href="https://info.ikea-usa.com/giftregistry/en-us/registry/99842ae7-11db-419d-b96a-5e6be008bcf4" target="_blank"><%- include('_ikea.ejs') %></a>
        <a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=544245740&eventType=Wedding&pwsurl=" target="_blank"><%- include('_bedandbath.ejs') %></a>
        <a href="https://www.amazon.com/wedding/share/theskomerwedding" target="_blank"><%- include('_amazon.ejs') %></a>
      </div>

    </div>

    <div id="gallery" value="4" class="js-trigger-underline">
      <h4 class="header-title">Gallery</h4>
      <div id="grid" data-columns>
        <% var arr = [] %>
        <% while(arr.length < 74 ){
            //<!-- Create your random number -->
            var randomNum = Math.floor((Math.random() * 74) + 1);
            //<!-- If the random number is not in the array -->
            if(arr.indexOf(randomNum) == -1){
                // Add the random number to the array
                arr.push(randomNum);
            }
        } %>
        <!-- Loop through the array -->
        <%arr.forEach(function(i){ %>
          <a href="./assets/gallery_images/gallery (<%= i %> of 74).jpg" target="_blank">
            <img class="image js-gallery-modal-trigger" data-number="<%= i %>" data-src="../assets/gallery_images/gallery (<%= i %> of 74).jpg">
          </a>
        <%});%>
      </div>
    </div>
  </div>

  <div id="js-gallery-modal"></div>

  <%- include('_scripts.ejs') %>
</body>
</html>